* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  font-family: "Share Tech Mono", monospace;
  color: #39ff14;
}
footer {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 0.7rem;
}
/* .texture {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
} */
#container {
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  padding: 10px;
  -webkit-animation: change-color 4s ease-out 0s infinite normal;
  -moz-animation: change-color 4s ease-out 0s infinite normal;
  -ms-animation: change-color 4s ease-out 0s infinite normal;
  animation: change-color 4s ease-out 0s infinite normal;
}
#title {
  border: 2px solid #1c9b05;
  padding: 10px;
  margin: 10px;
}
#choices {
  display: grid;
  grid-template-areas:
    "1 2"
    "3 4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
#text {
  margin-bottom: 10px;
}

.choice {
  font-family: inherit;
  text-align: center;
  border: 2px outset #091d7c;
  border-radius: 2px;
  margin: 5px;
  color: #39ff14;
  background-color: black;
}
.choice:hover {
  border: 2px inset #091d7c;
  border-radius: 2px;
  cursor: pointer;
}

/*media query*/
@media screen and (max-width: 800px) {
  #container {
    width: 100%;
  }
}
/* animação */

@-webkit-keyframes change-color {
  0% {
    border-top-color: #091d7c;
  }
  33% {
    border-left-color: #091d7c;
  }
  66% {
    border-bottom-color: #091d7c;
  }
  100% {
    border-right-color: #091d7c;
  }
}

@keyframes change-color {
  0% {
    border-top-color: #091d7c;
  }
  33% {
    border-left-color: #091d7c;
  }
  66% {
    border-bottom-color: #091d7c;
  }
  100% {
    border-right-color: #091d7c;
  }
}
