* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  font-family: "Share Tech Mono", monospace;
  color: #39ff14;
}
footer {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 0.7rem;
}

#container {
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 5px auto;
  width: 50%;
  height: 98vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  padding: 10px;
  border-radius: 5px;
  -webkit-animation: box-shadow-pulse 4s linear 0s infinite normal;
  -moz-animation: box-shadow-pulse 4s linear 0s infinite normal;
  -ms-animation: box-shadow-pulse 4s linear 0s infinite normal;
  animation: box-shadow-pulse 4s linear 0s infinite normal;
  /* //Testar em tela de maior resolução */
  image-rendering: pixelated;
}
/* Centralizar mais o botão start */
.start {
  width: 400px;
  height: 25px;
  font-size: 1rem;
}
#title {
  border: 2px solid #1c9b05;
  padding: 10px;
  margin: 10px;
}
#choices {
  display: grid;
  grid-template-areas:
    "1 2"
    "3 4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
#text {
  margin-bottom: 10px;
}

.choice {
  font-family: inherit;
  text-align: center;
  border: 2px outset #091d7c;
  border-radius: 2px;
  margin: 5px;
  color: #39ff14;
  background-color: black;
}
.choice:hover {
  border: 2px inset #091d7c;
  border-radius: 2px;
  cursor: pointer;
}

/*media query*/
@media screen and (max-width: 800px) {
  #container {
    width: 100%;
    -webkit-animation: box-shadow-pulse-minimum 4s linear 0s infinite normal;
    -moz-animation: box-shadow-pulse-minimum 4s linear 0s infinite normal;
    -ms-animation: box-shadow-pulse-minimum 4s linear 0s infinite normal;
    animation: box-shadow-pulse-minimum 4s linear 0s infinite normal;
  }
}
/* animação */

/* box-shadow-pulse */
@-webkit-keyframes box-shadow-pulse {
  0% {
    -webkit-box-shadow: 0px 0px 50px 0px #ff0000;
    -moz-box-shadow: 0px 0px 50px 0px #ff0000;
    box-shadow: 0px 0px 50px 0px #ff0000;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px 15px #ff0000;
    -moz-box-shadow: 0px 0px 50px 15px #ff0000;
    box-shadow: 0px 0px 50px 15px #ff0000;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 0px #ff0000;
    -moz-box-shadow: 0px 0px 50px 0px #ff0000;
    box-shadow: 0px 0px 50px 0px #ff0000;
  }
}

@keyframes box-shadow-pulse {
  0% {
    -webkit-box-shadow: 0px 0px 50px 0px #ff0000;
    -moz-box-shadow: 0px 0px 50px 0px #ff0000;
    box-shadow: 0px 0px 50px 0px #ff0000;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px 15px #ff0000;
    -moz-box-shadow: 0px 0px 50px 15px #ff0000;
    box-shadow: 0px 0px 50px 15px #ff0000;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 0px #ff0000;
    -moz-box-shadow: 0px 0px 50px 0px #ff0000;
    box-shadow: 0px 0px 50px 0px #ff0000;
  }
}

/* box-shadow-pulse-minimum */
@-webkit-keyframes box-shadow-pulse-minimum {
  0% {
    -webkit-box-shadow: 0px 50px 50px 0px #ff0000;
    -moz-box-shadow: 0px 50px 50px 0px #ff0000;
    box-shadow: 0px 50px 50px 0px #ff0000;
  }
  50% {
    -webkit-box-shadow: 0px -50px 50px 0px #ff0000;
    -moz-box-shadow: 0px -50px 50px 0px #ff0000;
    box-shadow: 0px -50px 50px 0px #ff0000;
  }
  100% {
    -webkit-box-shadow: 0px 50px 50px 0px #ff0000;
    -moz-box-shadow: 0px 50px 50px 0px #ff0000;
    box-shadow: 0px 50px 50px 0px #ff0000;
  }
}
@keyframes box-shadow-pulse-minimum {
  0% {
    -webkit-box-shadow: 0px 50px 50px 0px #ff0000;
    -moz-box-shadow: 0px 50px 50px 0px #ff0000;
    box-shadow: 0px 50px 50px 0px #ff0000;
  }
  50% {
    -webkit-box-shadow: 0px -50px 50px 0px #ff0000;
    -moz-box-shadow: 0px -50px 50px 0px #ff0000;
    box-shadow: 0px -50px 50px 0px #ff0000;
  }
  100% {
    -webkit-box-shadow: 0px 50px 50px 0px #ff0000;
    -moz-box-shadow: 0px 50px 50px 0px #ff0000;
    box-shadow: 0px 50px 50px 0px #ff0000;
  }
}
